<div class="medium-title margin-left">
  {{currentOrderText}}
</div>
<ion-card *ngFor="let order of orderContext.getOrders()">  
    <ion-card-header>
        <ion-card-subtitle>{{order.dateCreated.toLocaleString()}}</ion-card-subtitle>
        <ion-card-title>{{order.placeName}}</ion-card-title>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-subtitle>Your status: {{getUserPaymentStatus(order)}}</ion-card-subtitle>

      </ion-card-header>
  
      <ion-card-content>
          Total price: {{order.price}}
          Your share: {{getUserPaymentShare(order)}}
          <ion-button [hidden]="!hasPaid(order)"  (click)="payForOrder(order.id)" class="float-right ion-margin">pay</ion-button>

      </ion-card-content>
</ion-card>            