/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import url('https://rsms.me/inter/inter.css');

html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

.title{
    font-size: 35px;
      // font-family:  'Inter'; //'Roboto'; // 'Inter UI', 
      font-weight: 500;
  }
  
  .margin-left{
    margin-left: 20px;
  }
  
  .small-title{
    font-size: 17px;
    color: grey;
  }
  
  .medium-title
  {
    // font-family: 'Inter';
    font-size: 31px;
    font-weight: 450;
  }
  
  ion-searchbar{        
    .searchbar-input-container{  
        .searchbar-input{
            border-radius: 20px;
        }
    }
  }
  
  .float-right{
    float: right;
  }
  
  
  
  
  ion-card{
    border-radius: 50px;
    ion-img{
      background-position: center;
      height: 120px;
      width: 100%;
      object-fit: cover
    }
  }