<!-- 
HELLO THERE
    <div id="map_canvas">       </div> 
    <ion-button (click)="checkIn()" shape="round" fill="outline" color="dark">Zamów</ion-button>
                <div class="order-button">
                            <ion-button (click)="checkInButtonClick()" shape="round" fill="outline" color="dark">Zamów</ion-button></div>
                                <ion-button (click)="startConnection()" shape="round" fill="outline" color="dark">Zamów</ion-button>
                            </div>

                         -->
        
        
 
        
        
    