
#map_canvas{
    height: 100%;
}



.button-on-maps{


    background-image: linear-gradient(to right, #BD3F32 0%, #CB356B 100%);
    border: none;
    color: white;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.33;
    display: inline-block;
    cursor: pointer;
    width: 70px;
    height: 70px;
    padding: 25px 8px;
    font-size: 14px;
    border-radius: 50%;
}

.order-button{
    position: fixed;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
  }