<ion-header>
  <ion-toolbar>
    <ion-title transparent>qrCodeScanner</ion-title>
  </ion-toolbar>
</ion-header>
<div style="background: none transparent;">
    <img src="../../assets/img/qrscanner.png" style="display:block;width:100%;height:auto;margin-left:auto;margin-right:auto;" />
</div>
