.float-right{
    float: right;
}

ion-card{
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius:5px;
   // margin: 5 auto;
   cursor: pointer;

  }

  ion-card:hover {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
  }
