<div class="ion-margin" (click)="setPlaceAsLastChecked()">
  <ion-card>
      <ion-img src={{place.imageUrl}}></ion-img>
      <ion-card-header>
          <ion-card-title>{{place.name}}</ion-card-title>
          <ion-card-subtitle>Grzybowska 63, 00-844 Warszawa</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
          <p>{{place.description}}</p>
        </ion-card-content>

  </ion-card>
</div>
