<div class="container">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" [(ngModel)]="newPlace.name" 
      class="form-control" name="name" id="name" required>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input [(ngModel)]="newPlace.description"
       type="textarea" name="description" class="form-control" rows="3" id="description"
        required>
    </div>

    <label *ngFor="let placeTag of placeTags" class = "checkbox" >
      <input type="checkbox"
      id="placeTag.id" 
      [checked] = "isChecked(placeTag.id)"
      (change)="onCheckBoxChanged(placeTag)"
      />
      {{placeTag.name}}
    </label>

    <div class="form-group">
      <label for="numOfTables">Number of Tables</label>
      <input [(ngModel)]="newPlace.numberOfTables" 
       type="textarea" name="numOfTables" class="form-control" rows="3" id="numOfTables"
        required>
    </div>

    <div class="input-group mb-3">
        <input type="text" class="form-control" [(ngModel)]="newTag"  placeholder="Add Tag" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="addTag()" type="button">Send</button>
        </div>
    </div>
      

    <div class="form-group">
      <label for="description">imageUrl</label>
      <input [(ngModel)]="newPlace.imageUrl"
       type="text" name="imageUrl" class="form-control" id="imageUrl"
        required>
    </div>
    
    <!-- <div class="form-group">
      <input type="file" (change)="onFileChange($event)" />
    </div> -->

    

    <!-- <button class="btn btn-primary" (click)="submitForm()">Edit</button> -->
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
    <button class="btn" class="btn btn-outline-secondary" (click)="toggleMap()">show map</button>

</div>
<agm-map 
[hidden] = "isMapHidden"
[latitude]="lat"
[longitude]="lng"
[zoom]="zoom"
[disableDefaultUI]="false"
[zoomControl]="false"
(mapClick)="mapClicked($event)">

<agm-marker 
    (markerClick)="clickedMarker(marker.label, i)"
    [latitude]="marker.lat"
    [longitude]="marker.lng"
    [label]="marker.label"
    [markerDraggable]="marker.draggable"
    (dragEnd)="markerDragEnd(marker, $event)">
</agm-marker>
</agm-map>