<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>


<ion-item>
  <ion-label position="floating">Login</ion-label>
  <ion-input [(ngModel)]="login" ></ion-input>
</ion-item>

<ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" [(ngModel)]="password" ></ion-input>
  </ion-item>
  <ion-label *ngIf="hasLoginFailed" style="color: red">
    {{wrongLoginOrPasswordText}}
</ion-label> 
<ion-button class="float-right" (click)="logIn()" >Login</ion-button>


<ion-spinner [hidden]="!isLoggingIn"></ion-spinner>

</ion-content>
