<!-- CHECK INS  -->
<div style="width: 45%; float:left; margin:2%">
    <h1>Check Ins</h1>
    <ul class="list-group">
        <li *ngFor="let checkIn of checkInsContext.checkIns" class="list-group-item">
            <h2>Table no {{checkIn.tableId}}</h2>
            <ul class="list-group">
                <li *ngFor="let item of checkIn.partialOrders" class="list-group-item">{{item.menuItem.name}} For:
                    <span *ngFor="let client of item.userPartialOrders">{{client.name}},</span>
                    <b><span style="float: right;"> {{item.menuItem.price}} zl</span></b>
                </li>
            </ul>
            <button style="float: right; margin-top: 5px;" class="btn btn-outline-secondary">
                Delete
            </button>
        </li>
    </ul>

</div>


<!-- CHECK INS  -->


<div style="width: 45%; float: right; margin:2%">
    <h1>Orders</h1>
    <ul class="list-group">
        <li *ngFor="let checkIn of checkInsContext.checkIns" class="list-group-item">
            <h2>Table no {{checkIn.tableId}}</h2>
            <ul class="list-group">
                <li *ngFor="let item of checkIn.partialOrders" class="list-group-item">{{item.menuItem.name}} For:
                    <span *ngFor="let client of item.userPartialOrders">{{client.name}},</span>
                    <b><span style="float: right;"> {{item.menuItem.price}} zl</span></b>
                </li>
            </ul>
            <button style="float: right; margin-top: 2%;" class="btn btn-outline-secondary">
                Clear table
            </button>

            <button style="float: right; margin: 2%;" class="btn btn-outline-secondary">
                Finished
            </button>

        </li>
    </ul>

</div>



<!-- ORDERS -->
<!-- <ul class="list-group">
    <li *ngFor="let checkIn of checkInsContext.checkIns" class="list-group-item">
        table {{checkIn.tableId}}
        <ul class="list-group">
            <li *ngFor="let item of checkIn.partialOrders.menuItem" class="list-group-item">{{item.name}}</li>
        </ul>
    </li>
</ul> -->