<app-order-alert></app-order-alert>

<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="check-in-scanner">
      <ion-icon name="qr-scanner"></ion-icon>
      <ion-label>Check-in</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="{{getSelectionTab()}}">
      <ion-icon name="list"></ion-icon>
      <ion-label>Browse</ion-label>
    </ion-tab-button>
 
    <ion-tab-button tab="orders">
      <ion-icon name="basket"></ion-icon>
      <ion-label>Orders</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
