<button class="btn btn-lg btn-outline-primary" (click)="open(content)" style="margin:2%">Add place</button>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col-8">Name</th>
      <!-- <th scope="col">Location</th> -->
      <!-- <th scope="col">Coordinates</th> -->

      <th scope="col-4"></th>

    </tr>
    <tr></tr>
  </thead>
  <tbody>
    <tr *ngFor="let place of placesContext.places; index as i" (click)="onPlaceClick(content, place)"
      style="cursor: pointer;">
      <th scope="row">{{ i + 1 }}</th>
      <td>
        <img [src]="place.imageUrl" class="mr-2" style="width: 20px">
        {{ place.name }}
      </td>
      <!-- <td>{{ place.location.name }}</td> -->
      <!-- <td>{{ place.coordinates.latitude }} |  {{ place.coordinates.latitude }}</td> -->
      <div style="text-align: right; ">
        <button type="button" class="btn btn-outline-danger" style="margin-right: 5px;" (click)="removeItem(place)">
          Delete
        </button>

      <button type="button" style="margin-right: 5px;" class="btn btn-outline-primary">
        Edit
      </button>

      <button type="button" style="margin-right: 5px;" class="btn btn-outline-primary" [routerLink]="['/Orders', place.id]">
        Orders
      </button>
    </div>
    </tr>
  </tbody>
</table>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Place</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
        General info
      </button>
    </p>
    <div id="collapseExample" [ngbCollapse]="isCollapsed">
      <div class="card">
        <div class="card-body">
          <app-add-place-form [place]="place"></app-add-place-form>
        </div>
      </div>
    </div>
    <h1>Menu</h1>
    <app-menu-item *ngIf="place" [placeId]="place.id" [menuItems]="place.menuItems"></app-menu-item>
  </div>

</ng-template>