<ion-header>
  <ion-toolbar>
    <ion-title>payment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<ion-button (click)="payForOrder()">{{payForOrderString}}</ion-button>
</ion-content>
