<!-- <ion-item class="bottom-border" > 
    <ion-avatar slot="start">
      <img src={{menuItem.imageUrl}}>
      </ion-avatar>
      <ion-label>
        <h2>{{menuItem.name}}</h2>
        <h3>{{menuItem.price}}</h3>
        <p>{{menuItem.description}}</p>
      </ion-label>
      <ion-button (click)="addToBasket()">dodaj</ion-button>
</ion-item> -->

<div class="menu-item-card ion-margin">
  <ion-grid>
    <ion-row>
      <ion-col size="3">
        <div class="food-image"><img src="{{menuItem.imageUrl}}" style="   display: block;
            width: 100%;"></div>
      </ion-col>
      <!-- <div class="food-image"><img class ="shadow" src="http://storage.googleapis.com/bro-cdn1/zgrid/themes/10307/images/home/pizza.png" alt="Avatar" style="width:100%"></div> -->
      <ion-col>
        <ion-label>
          <h1>{{menuItem.name}}</h1>
          <h3>{{menuItem.price}}</h3>
          <p>{{menuItem.description}}</p>
          <ion-row>
            <ion-col>
              <ion-button (click)="addToBasket()" class="float-right" color="dark" fill="outline">{{addButtonText}}</ion-button>
            </ion-col>
          </ion-row>

        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>