.float-right{
    float: right;
}

.menu-item-card{
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
      width:90%;
      height:10%;
    border-radius:5px;
    margin: auto;

}

.text-secondary{
    color: gray;
}

.food-image{
  //  position:absolute;
    // right:10px;
   // top:-10px;
   object-fit: contain;

    background-color: #fff;
}

.menu-item-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

 .basket-container{
     position: fixed;
     height: 10%;
     bottom: 0;
 }

  .likes-count{
    margin:5px;
  }