<div [hidden]="isUserParticipatingInCheckIn()">

        <ion-grid>
                <ion-row>
                        <ion-col>
                                <div class="medium-title ion-margin">{{yourOrdersString}}</div>
                        </ion-col>
                </ion-row>
        </ion-grid>

        <div *ngFor="let menuItem of basket.getMenuItems()" class="menu-item-card ion-margin">
                <ion-grid>
                        <ion-row>
                                <ion-col size="3">
                                        <div class="food-image"><img src="{{menuItem.imageUrl}}" style="display: block; width: 100%;"></div>
                                </ion-col>
                                <ion-col>
                                        <ion-label>
                                                <ion-icon class="float-right" style="font-size:30px;" (click)="removeItemFromBasket(menuItem)"
                                                        name="close-circle"></ion-icon>

                                                <h1>{{menuItem.name}}</h1>

                                                <h3>{{menuItem.price}}</h3>
                                                <p>{{menuItem.description}}</p>
                                        </ion-label>
                                </ion-col>
                        </ion-row>
                </ion-grid>
        </div>
</div>


<ion-grid>
        <ion-row>
                <ion-col>
                        <div class="medium-title margin-left">{{nextToTableString}}</div>
                </ion-col>
                <ion-col>

                        <div [hidden]="!isUserParticipatingInCheckIn()">
                                <ion-button class="float-right" [hidden]="getIsReady()" (click)="setUserAsReadyForOrder()">{{orderButtonText}}</ion-button>
                                <ion-button class="float-right" [hidden]="!getIsReady()" (click)="setUserAsNotReadyForOrder()">{{cancelText}}</ion-button>
                        </div>

                        <ion-button class="float-right" [hidden]="isUserParticipatingInCheckIn()" (click)="checkIn()">{{joinText}}</ion-button>
                        <ion-button class="float-right" fill="clear" [hidden]="!isUserParticipatingInCheckIn()" (click)="checkOut()">{{resignText}}</ion-button>
                </ion-col>
        </ion-row>
</ion-grid>

<div>
        <ion-grid>
                <ion-row>
                        <ion-col size="1" class="margin-left" *ngFor="let user of checkInContext.checkedInUsers">
                                <ion-row class="ion-align-items-center">
                                        <img src="{{user.imageIcon}}" style="display: block;
                                        width: 75%; height: 75%; margin:auto; float: left;">
                                </ion-row>
                                <ion-row>
                                        <div class="text-secondary" style="text-align:center; margin:auto;" >{{user.name}}</div>
                                </ion-row>
                        </ion-col>
                </ion-row>
        </ion-grid>
</div>
<div>
        <div *ngFor="let partialOrder of checkInContext.partialOrders" class="menu-item-card ion-margin" style="margin-top:2%;">
                <ion-grid>
                        <ion-row>
                                <ion-col size="3">
                                        <div class="food-image"><img src="{{partialOrder.menuItem.imageUrl}}" style="display: block;
                width: 70%;"></div>
                                </ion-col>
                                <ion-col>
                                        <ion-label>
                                                <h1>{{partialOrder.menuItem.name}}</h1>

                                                <h3>{{partialOrder.menuItem.price}}</h3>
                                                <p>{{partialOrder.menuItem.description}}</p>
                                        </ion-label>
                                </ion-col>
                        </ion-row>
                        <ion-row>
                                <ion-col class="ion-align-items-center" *ngFor="let usersPartialOrder of partialOrder.userPartialOrders">
                                        <ion-row>
                                                <img src="{{usersPartialOrder.clientDto.imageIcon}}" style="display: block;
                                                        width: 10%; height: 10%; margin:auto; float: left;">
                                        </ion-row>
                                        <ion-row>
                                                <div class="text-secondary" style="text-align:center; margin:auto;">{{usersPartialOrder.clientDto.name}}</div>
                                        </ion-row>
                                        <ion-row>
                                                <div class="text-secondary" style="text-align:center; margin:auto;">{{usersPartialOrder.toPayInMoney}}
                                                        {{priceCurrency}}</div>
                                        </ion-row>
                                </ion-col>
                                <ion-col>
                                        <ion-button [hidden]="!isUserParticipatingInPartialOrder(partialOrder)" (click)="joinToPartialOrder(partialOrder)">{{changeText}}</ion-button>
                                </ion-col>
                                <ion-col>
                                        <div class="float-right">
                                                <ion-button [hidden]="isUserParticipatingInPartialOrder(partialOrder)"
                                                        (click)="joinToPartialOrder(partialOrder)">{{joinText}}</ion-button>
                                                <ion-button [hidden]="!isUserParticipatingInPartialOrder(partialOrder)"
                                                        fill="clear" (click)="resignFromPartialOrder(partialOrder)">{{resignText}}</ion-button>
                                        </div>
                                </ion-col>

                        </ion-row>
                </ion-grid>
        </div>
</div>