div[scrollx=true],div[scrolly=true] {
    position: relative;
    overflow: hidden;
  }
  
  div[scrollx=true] {
    overflow-x: auto;
  }
  
  div[scrolly=true] {
    overflow-y: auto;
  }

  .float-right{
    float: right;
}
  

  .scrolling-wrapper {
    &::-webkit-scrollbar {
      display: none;
    }
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;

  
    .card {
      width: 120px;
      height: 80px;
      background: white;
      border-radius: 5px;
      display: inline-block;
      margin: 10px;
      margin-left: 10px;
      text-align: center; 
      transition-duration: 1s;
      // box-shadow: 1px 1px 6px 2px rgba(0,0,0,0.25), -1px -1px 6px 1px rgba(0,0,0,0.22);
    }

    // .card:hover {
    //   transform: scale(0.9, 0.9);
    //   box-shadow: 2px 2px 15px 7px rgba(0,0,0,0.25), 
    //     -2px -2px 15px 7px rgba(0,0,0,0.22);
    // }

    .card:hover {
      transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }

  .card img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: fill;

 }
  }

  .searchbar-input.sc-ion-searchbar-md{
    border-radius: 20px;
  }