<!-- <ion-content
(ionScrollEnd)="logScrollEnd()"
></ion-content> -->

<ion-searchbar class="ion-padding" [(ngModel)]="searchTerm" (ionInput)="setFilteredItems()"></ion-searchbar>
<div class="medium-title margin-left">Poznaj nowe</div>
<div class="scrolling-wrapper">
    <div (click)="selectOnly(placeType.placeTag)" class="card" *ngFor="let placeType of placeTypes">
        <img src="{{placeType.imageSrc}}">
        <div class="small-title">{{placeType.name}}</div>
    </div>
</div>
<div>
<div class="title margin-left"(click)="logData()">Wybrane dla Ciebie</div>
<div  style="align-content: flex-end;">
<ion-list>
    <ion-item>
        <ion-select (ionChange)="getNearestPlaces()" placeholder="{{distanceText}}" value="5000" interface="popover" [(ngModel)]="distanceValue">
            <ion-select-option value="1000">1km</ion-select-option>
            <ion-select-option value="2000">2km</ion-select-option>
            <ion-select-option value="5000">5km</ion-select-option>
            <ion-select-option value="10000">10km</ion-select-option>
        </ion-select>
    </ion-item>
</ion-list>

</div>
</div>
<ion-infinite-scroll (ionInfinite)="loadMoreData()">
    <div *ngFor="let place of visiblePlaces">
        <app-place-card [place]=place></app-place-card>
    </div>

  </ion-infinite-scroll>

