<table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
    </tr>
    <tr></tr>
    </thead>
    <tbody>
    <tr *ngFor="let menuItem of menuItems; index as i">
      <th  scope="row">{{ i + 1 }}</th>
      <td>
        <img [src]="menuItem.imageUrl" class="mr-2" style="width: 20px">
        {{ menuItem.name }}
      </td>
      <td>{{ menuItem.price }}</td>
      <button type="button" class="btn btn-outline-danger" (click)="removeItem(menuItem)">
        Delete
      </button>
      <!-- <td>{{ place.coordinates.latitude }}</td> -->
    </tr>
    </tbody>
</table>
  

<div class="container">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" [(ngModel)]="menuItem.name" 
      class="form-control" name="name" id="name" required>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <input [(ngModel)]="menuItem.description"
       type="textarea" name="description" class="form-control" rows="3" id="description"
        required>
    </div>
  
    <div class="form-group">
      <label for="price">Price</label>
      <input [(ngModel)]="menuItem.price"
       type="textarea" name="price" class="form-control" rows="3" id="price"
        required>
    </div>
  
       <div class="form-group">
      <label for="description">imageUrl</label>
      <input [(ngModel)]="menuItem.imageUrl"
       type="text" name="imageUrl" class="form-control" id="imageUrl"
        required>
    </div>

    <!-- <button class="btn btn-primary" (click)="submitForm()">Edit</button> -->
    <button type="submit" class="btn btn-success">Submit</button>
  </form>

</div>