<div class="container">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Login</label>
      <input type="text" [(ngModel)]="login" 
      class="form-control" name="login" id="login" required>
    </div>
    <div class="form-group">
      <label for="description">Password</label>
      <input [(ngModel)]="password"
       type="password" name="password" class="form-control" rows="3" id="password"
        required>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>