<ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
          </ion-buttons>
          <ion-title>Koszyk</ion-title>
        </ion-toolbar>
      </ion-header>

<ion-content padding>

    <!-- <ion-list>

        <ion-item *ngFor="let menuItem of menuItems">
          
          <ion-avatar slot="start">
            <img src={{menuItem.imageUrl}}>
            </ion-avatar>
            <div>
            <ion-label>
              <h2>{{menuItem.name}}</h2>
              <h3>{{menuItem.price}}</h3>
              <p>{{menuItem.description}}</p>
            </ion-label>
          </div>
            <ion-button >usuń</ion-button>
          </ion-item>
      </ion-list> -->

      <div *ngFor="let menuItem of menuItems" class="menu-item-card">
          <ion-grid>
              <ion-row>
                <ion-col size="3">
                <div class="food-image"><img src="{{menuItem.imageUrl}}" style="   display: block;
                  width: 100%;"></div>
              </ion-col>
                <!-- <div class="food-image"><img class ="shadow" src="http://storage.googleapis.com/bro-cdn1/zgrid/themes/10307/images/home/pizza.png" alt="Avatar" style="width:100%"></div> -->
                <ion-col>
                    <ion-label>
                        <h1>{{menuItem.name}}</h1>
                        <h3>{{menuItem.price}}</h3>
                        <p>{{menuItem.description}}</p>
                        <ion-row>
                            <ion-col>
                              <div class="likes-count">
                                <ion-icon name="heart"></ion-icon>
                                {{menuItem.rate}}</div>
                             </ion-col>
                          <ion-col size="5">
                      <ion-button (click)="removeItemFromBasket(menuItem)" color="dark" fill="clear">Usun</ion-button>
                        </ion-col>
                      </ion-row>
      
                      </ion-label>         
                       </ion-col>
              </ion-row>
            </ion-grid>
      </div>
      
      <div class="order-button">
          <ion-button (click)="submitOrder()" fill="outline" color="dark">Zamów</ion-button>
        
      </div>
        
</ion-content>
