.menu-item-card{
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
      width:90%;
    border-radius:5px;
    margin: 5 auto;

}


.food-image{
  //  position:absolute;
    // right:10px;
   // top:-10px;
   object-fit: contain;

    background-color: #fff;
}

.menu-item-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }


  .likes-count{
    margin:5px;
  }