.qrscanner {
    background: transparent !important;

    &-area {
        width:100%;
        height:85%;
        background-size: contain;
        
    }
}

.transparentBody {
    background: transparent !important;
    &-area {
        width:100%;
        height:85%;
        background-size: contain;
        
    }
}

page-qr-scanner {
    ion-content {
       background: transparent !important;
    }
}

ion-app.cameraView, ion-app.cameraView ion-content, ion-app.cameraView .nav-decor {
    background: transparent none !important; 
  }