
  
    <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
          </ion-buttons>
          <ion-title>{{place.name}}</ion-title>
        </ion-toolbar>
      </ion-header>
<ion-content>


  <img class="header-image" src="{{place.imageUrl}}">

  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button checked="true" value="false">
      <ion-label>{{menuString}}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="true">
      <ion-label>{{orderString}}</ion-label>
    </ion-segment-button>

  </ion-segment>

  <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
  
  
  <app-check-in [hidden]="isTableSegmentHidden" [placeId]="placeId"></app-check-in>

    <ion-list [hidden]="!isTableSegmentHidden" >
        <app-menu-item *ngFor="let menuItem of placeMenu" [menuItem]="menuItem"> </app-menu-item>
    </ion-list>

              <!-- <div class="order-button"> 
                <ion-button [hidden]="getIsReady()" (click)="setUserAsReadyForOrder()"  shape="round" color="dark">{{orderButtonText}}</ion-button>
                <ion-button [hidden]="!getIsReady()" (click)="setUserAsNotReadyForOrder()" fill="outline"  shape="round" color="dark">{{cancelText}}</ion-button>
              </div> -->

</ion-content>
