.menu-item-card{
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
      width:80%;
      height:20%;
  position:relative;
    border-radius:5px;
}

.header-image{
    background-attachment: fixed;
    background-position: center;
    height: 200px;
    width: 100%;
    object-fit: cover
}

.food-image{
    position:absolute;
    right:10px;
    top:-10px;
    background-color: #fff;
}

.menu-item-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

 .basket-container{
     position: fixed;
     height: 20%;
     bottom: 0;
 }

 .order-button{
    position: fixed;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
  }